*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: mediumvioletred;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.oyun-icin{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
}
.oyun-icin:hover{
    background-color: aqua;
    cursor: pointer;
}
.oyun{
    display: flex;
    gap:10px;
}
img{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 70px;
    color: aliceblue;
}
.puantaj{
    margin: 10px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    position: relative;
}
.puantaj p {
    font-size: 15px;
}
.puantaj p:first-child{
    transform: rotateZ(-90deg);
    position:absolute;
    left: 30%;
    top: 25%;
}
.puantaj p:last-child{
    transform: rotateZ(90deg);
    position:absolute;
    left: 60%;
    top: 25%;
}
h2{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}
.sonuc{
    text-align: center;
    font-size: 30px;
    color:white ;
}